[Unit]
Description=Vault server
After=network.target

[Service]
ExecStart={{vault_path}} server -config={{vault_config_dir}}/vault-config.hcl
StandardOutput=journal

[Install]
WantedBy=multi-user.target