{% if storage_backend == "file" %}
backend "file" {
  path = "{{vault_data_dir}}/storage"
}
{% endif %}

{% if storage_backend == "s3" %}
storage "s3" {
  access_key = ""
  secret_key = ""
  bucket     = "{{vault_s3_bucket}}"
}
{% endif %}

{% if ha %}
{% if ha_storage_backend == "zookeeper" %}
ha_storage "zookeeper" {
	address = "{{zookeeper_address}}"
	path = "vault/"
}
{% endif %}

cluster_addr = "https://{{ansible_default_ipv4.address}}:8201"
{% endif %}

api_addr = "https://{{vault_url}}:8200"

listener "tcp" {
  #address = "{{ansible_default_ipv4.address}}:{{vault_port}}"
  address = "0.0.0.0:{{vault_port}}"
  tls_disable = 1
}
